.sidebar_list
  %h3 Filter by Catergory
  %ul{:id => 'category_list'}
    %li
      %input{:type => "checkbox", :id => 'category_all', :value => 'all'}/
      %span All (#{@services.length})
    - Category.by_services.where("service_count > 0").order("name").each do |category|
      %li
        %input{:type => "checkbox", :id => "category_#{category.id}", :value => category.id}/
        %span= "#{category.name} (#{category.service_count})"
  %p
    %a{:href => '#', :id => 'category_more'}
      show all
      %img{:alt => "arrow", :src => "images/find_down_arrow.png"}/
