- unless @services.empty?
  .featured_services
    %h2.fs_h2
      Featured Services
      %a.button.bu_right.explore_btn{:href => services_path} Explore All
    .featured_list
      - @services.each do |service|
        %a{:href => service_path(service.id)}
          .fs_box
            - if service.booking_capacity > 0
              - spots = service.booking_capacity - service.booked_seats
              - if spots <= 3
                .tag_day #{pluralize(spots, 'Spot')} Left
            - unless service.is_schedulelater 
              - days = (service.start_date - Date.today).to_i
              - if days <= 3
                - if days == 0
                  .tag_day Last Day
                - else
                  .tag_day #{pluralize(days, 'Day')} Left
            .fs_box_pic
              = image_tag !service.images.first.blank? ? "#{service.images.first.image.url(:thumb)}" : "/images/pics-1.jpg"
            .fs_left
              %span.fs_head= truncate(service.title, :length => 30)
              %span.fs_for for
              %span.fs_disc= truncate(service.nonprofit.try(:name), :length =>30)
            .fs_price
              $#{service.amount}
            .clear
      %p.view_more
        %a{:href => services_path} View More Services
/ End Featured Services
