- unless @services.blank?
  .featured_services_find
    %h2.fs_find_h2
      Popular results
      %br/
      %span
        Don't find what you are looking for?
        %a{:href => "#"} Place your request here
    - counter = 0
    .featured_list_find
      - 9.times do
        - service = @services[counter]
        - unless service.blank?
          %a{:href => "#"}
            .fs_box
              .tag_spots
              = image_tag !service.images.first.blank? ? "#{service.images.first.image.url(:original)}" : "/images/pics-1.jpg", :class => 'fs_box_pic'  
              .fs_left
                %span.fs_head= service.title
                %span.fs_for for
                %span.fs_disc= service.non_profit.name
              .fs_price
                $#{service.amount}
              .clear
                - counter = counter + 1
      %p.view_more
        %a{:href => "#"} View More Services
/ End Featured Services
