:javascript
  $(document).ready(function() {
    $('#dt_date_start, #dt_time_start,' +
      '#dt_date_end,   #dt_time_end').calendricalDateTimeRange();
        });


= form_for @service,:html => { :multipart => true } do |f|
  -if @service.errors.any?
    #error_explanation
      %h2= "#{pluralize(@service.errors.count, "error")} prohibited this service from being saved:"
      %ul
        - @service.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :non_profit_id
    = f.autocomplete_field :non_profit_id,autocomplete_non_profit_name_services_path 
  .field
    = f.fields_for :images do |photo|
      - if photo.object.new_record?
        = photo.label :image
        = photo.file_field :image
      - else
        = link_to( image_tag(photo.object.image.url(:small_thumb)), photo.object.image.url(:original) )
        = photo.check_box :_destroy
  .field
    = f.label :is_virtual
    = f.check_box :is_virtual
  .field
    = f.fields_for :location do |loc|
      = loc.label :address
      = loc.text_field :address
  .field
    = f.label :amount
    = f.text_field :amount
  .field
    = f.label :booking_capacity
    = f.text_field :booking_capacity
  .field
    = f.label :is_scheduled
    = f.check_box :is_scheduled
  .field
    = f.label :start_date
    = f.text_field :start_date,:id => 'dt_date_start',:value => @service.start_date.blank? ? '' : @service.start_date.strftime('%m/%d/%Y')
  .field
    = f.label :start_time
    = f.text_field :start_time, :id => 'dt_time_start', :value => @service.start_time.blank? ? '' : @service.start_time.strftime('%I:%M%p')
  .field
    = f.label :end_date
    = f.text_field :end_date, :id => 'dt_date_end', :value => @service.end_date.blank? ? '' : @service.end_date.strftime('%m/%d/%Y')
  .field
    = f.label :end_time
    = f.text_field :end_time, :id => 'dt_time_end',:value => @service.end_time.blank? ? '' : @service.end_time.strftime('%I:%M%p')
  .field
    = f.label :is_public
    = f.check_box :is_public
  .actions
    = f.submit 'Save'
