
:javascript
  $(document).ready(function() {
    $('#dt_date_start').calendricalDate({usa:true}); 
    $('#dt_date_end').calendricalDate({usa:true}); 
    $('#dt_time_start').calendricalTime({usa:true});
    $('#dt_time_end').calendricalTime({usa:true});
      var virtual_flag = #{@service.is_virtual}
      var scheduled_flag = #{@service.is_schedulelater}
      is_virtual(virtual_flag);
      is_schedulelater(scheduled_flag);

  });

  jQuery(document).ready(function(){
    
    $('#spinner').hide();

    $('#service_is_virtual').click(function(){
      is_virtual($("#service_is_virtual").is(':checked'))
    });
    
    $('#service_is_schedulelater').click(function(){
      is_schedulelater($("#service_is_schedulelater").is(':checked'))
    });
  
  });

  function is_virtual(flag)
  {
    if (flag){
      $('#service_location_attributes_address').attr('disabled', 'disabled');  
      $('.address').hide();
      }
    else{
      $('#service_location_attributes_address').removeAttr('disabled');
      $('.address').show();
    }
  }

  function is_schedulelater(flag)
  {
    if (flag){
      $('#service_is_schedulelater').val("true"); 
      $('#datetime').hide(); 
    }
    else{
      $('#service_is_schedulelater').val("false");
      $('#datetime').show(); 
    }
  }

%h2.offer_form_h2
  Offer a Service to support your favorite non-profit
  - if user_signed_in?
    %span
      /Want to copy information from an offer you made previously?
      /%a{:href => "#"} Click here
%a.bro_req_btn{:href => requests_path} Browse Requests
.offer_form
  = form_for @service, :builder => JoshForm, :html => {:multipart => true} do |f|
    - if @service.errors.any?
      #error_explanation
        %h2
          = pluralize(@service.errors.count, "error")
          below prevented a successful save.
    .setp_box
      %h3.setp_box_heading
        %span Step 1:
        Describe the service or experience you want to offer
      = f.text_field :title, :hint => "Make it good and short! Don’t worry about mentioning the non-profit here - we’ll include that in the title for you"
      = f.text_area :description, :class => 'input_area', :hint => "More details the better! Give the buyer a detailed description of your service. Specifically explain why you are qualified to offer this service and explain how your pricing works (you will be setting the price ‘per unit’ below)"
      = f.collection_select :category_ids, Category.by_services, :id, :name, {:selected => @service.categories.collect(&:id)}, { :multiple => true, :class => "input_select", :style => "height:100px;width:530px;", :hint => "Select one or more categories that best describes your service", :label => "Category *" }
    .setp_box
      %h3.setp_box_heading
        %span Step 2:
        Choose the non-profit that you would like to support
      %p
        = f.autocomplete_field :nonprofit_name, autocomplete_nonprofit_name_services_path, :class => "form_input_full input_half", :pre => true, :spinner => true, 'data-id-element' => "#service_nonprofit_id", :value => "#{get_nonprofit_name}", :label => "Non-Profit Name"
        = f.hidden_field :nonprofit_id
        %span.setp_box_p_span
        or
        = link_to  "Click here to browse", browse_nonprofit_services_path , :title => "Click on a non-profit to select it", :class => 'thickbox'
    .setp_box
      %h3.setp_box_heading
        %span Step 3:
        Tell us where this service will be offered
      %p
        = f.label "Online Service", :class => 'form_lbl'
        = f.check_box :is_virtual, { :class => "input_checkbox"}, "true", "false"
        %span.setp_box_p_span (Check if this service will be offered virtually/online)
      %p
        = f.fields_for :location do |loc|
          .address
            = loc.text_field :address, :class => "input_half", :hint => "Address will be shared with everyone. If you wish to not share your address, just enter the city and state"
    .setp_box
      %h3.setp_box_heading
        %span Step 4:
        Tell us when this service will be offered
      %p
        = f.label "Schedule Later", :class => 'form_lbl'
        = f.check_box :is_schedulelater, { :class => "input_checkbox"}, "true", "false"
        %span.setp_box_p_span
          (Leave checked if you will work out the date and time with the buyer)
          %a{:href => "#"} How it works?
      #datetime    
        %p
          %span.setp_two_col
            = f.text_field :start_date, :id => 'dt_date_start',:value => gik_formatted_date(@service.start_date), :class => "input_small"
          %span.setp_two_col
            = f.text_field :start_time, :id => 'dt_time_start', :value => gik_formatted_time(@service.start_time), :class => "input_small", :label => "Start time in     EST"
        %p
          %span.setp_two_col
            = f.text_field :end_date, :id => 'dt_date_end', :value => gik_formatted_date(@service.end_date), :class => "input_small"
          %span.setp_two_col
            = f.text_field :end_time, :id => 'dt_time_end', :value => gik_formatted_time(@service.end_time), :class => "input_small", :label => "End time in EST"
      %p
        %span.setp_two_col
          = f.text_field :booking_capacity, :value => @service.booking_capacity == 0 ? "" : @service.booking_capacity, :class => "input_small", :label => "Max. Group size*", :hint => "Max. number of people you can serve at a time"
        %span.setp_two_col
          = f.text_field :estimated_duration,  :label => "Estimated Duration", :class => "input_small", :hint => "Enter approx. service duration to the nearest 0.5 hrs, ex: 2.5hrs", :label => "Est. Service Duration"
    .setp_box
      %h3.setp_box_heading
        %span Step 5:
        What is the minimum price per person for this service?
      %p
        = f.text_field :amount, :label => "Amount ($)*", :class => "input_small", :hint => "Keep it reasonable – everyone loves a deal! Min $5 <br> Note: the price is per person or per ‘unit’ price. Please explain in description above."
    .setp_box
      %h3.setp_box_heading
        %span Step 6:
        Add a picture illustrating your service
      %p
        = f.fields_for :images do |photo|
          = photo.file_field :image, :class => "input_browse", :type => "file", :label => "Select an Image"
      %p
        = f.fields_for :images do |photo|
          - unless photo.object.new_record?
            = link_to( image_tag(photo.object.image.url(:thumb)), photo.object.image.url(:medium) )
            = photo.check_box :_destroy
            Remove Photo
    .setp_box
      %h3.setp_box_heading
        %span Step 7:
        Choose privacy settings for the listing
      %ul.input_radio_nav
        %li
          = f.radio_button(:is_public, true)
          = f.label(:is_public, "Public: I want this service listing posted publicly for all users on GoodInKind") 
        %li
          = f.radio_button(:is_public, false)
          = f.label(:is_public, "Unlisted: Don't list this service publicly on GoodInKind. I will share it privately")
          = f.hidden_field :request_id
    .input_post_div
      = f.submit "Offer it!", :class => "btn_form button form_post_btn"
      %p You will be able to share it afterwards
    %ul.offer_form_bottom_nav
      %li -- All services offered must be fully legal under US law and appropriate to discuss in front of people all ages.  Please keep it appropriate and positive!
      %li -- Please also check the specific policies of the non-profit for which you are offering your service
      %li -- GoodInKind reserves the right to remove any postings at any time.
