.sidebar_bar
  = render :partial => "service_search"
  .sidebar_left_find
    = render :partial => "service_by_category"
    = render :partial => "service_by_non_profit"
    = render :partial => "service_by_price"
    = render :partial => "service_by_date"
