.sidebar_list
  %h3 Filter by Non-Profit
  %ul{:id => 'nonprofit_list'}
    %li
      %input{:type => "checkbox", :id => 'nonprofit_all', :value => 'all'}/
      %span All (#{@services.length})
    - Category.by_nonprofits.by_category_count.each do |category|
      %li
        %input{:type => "checkbox", :id => "nonprofit_#{category.id}", :value => category.id}/
        %span= "#{truncate(category.name, :length => 25)} (#{category.service_count})"
  %p
    %a{:href => "#", :id => 'nonprofit_more'}
      show all
      %img{:alt => "arrow", :src => "images/find_down_arrow.png"}/
