.off_by
  .off_by_profile
    %h4.profile_title_h4 Non-Profit:

    .profile_pic_nonpf  
      = image_tag(@service.nonprofit.photo.url(:thumb), :alt => @service.nonprofit.name)
    %h3.profile_title_h3
      = @service.nonprofit.name
      %span= @service.nonprofit.location.try(:address)
  .profile_list
    %p
      %span.pl_left Website:
      %span.pl_right
        = link_to "#{@service.nonprofit.website}", "#{format_link(@service.nonprofit.website)}", :target => "_blank"
    %p
      %span.pl_left Description:
      %span.pl_right
        = truncate(@service.nonprofit.description, :length => 100)
        %br/
  %p.pl_view_more
    = link_to "View Profile", nonprofit_path(:id => @service.nonprofit.id)
