/ Search
.search
  .search_div_top
    = link_to "Offer", new_service_path, :class => 'search_off_a'
    a service to support your favorite non-profit. Everyone has something to offer!
    %span
      %a{:href => requests_path} see requests
  .search_div
    = form_for :service, :url => newoffer_services_path, :html => {:method => :post} do
      - str = service_suggest(3).collect { |x| "\"#{x.title}\"" }.join(' or ')
      = text_field_tag :title, nil, :placeholder => str,  :class =>'search_div_input'
      
      = submit_tag "Offer", :class => "button btn_form"
/ End Search
