/ Offered By
.off_by
  .off_by_profile
    %h4.profile_title_h4 Offered by:
    = image_tag('photo_pic.jpg', :alt => "pic", :class => "profile_pic")
    %h3.profile_title_h3
      Steve Jobs
      %span Cupertino, CA
  .profile_list
    %p
      %span.pl_left Website:
      %span.pl_right
        = link_to "www.apple.com", "#"
    %p
      %span.pl_left Social Network:
      %span.pl_right
        = link_to "", "#", :target => "_blank", :title => "Facebook", :class => "pl_sn"
        = link_to "", "#", :target => "_blank", :title => "Twitter", :class => "pl_sn.tw_pl"
        = link_to "", "#", :target => "_blank", :title => "Linkedin", :class => "pl_sn.ln_pl"
    %p
      %span.pl_left Reviews:
      %span.pl_right 99% Positive
    %p
      %span.pl_left Transactions:
      %span.pl_right 28
    %p
      %span.pl_left Raised:
      %span.pl_right $130
    %p
      %span.pl_left Description:
      %span.pl_right
        I make beautiful things.
        %br/
        I make beautiful things.
        %br/
        I make beautiful things.
  %p.pl_view_more
    = link_to "View Profile", "#"
/ #End Offered By
