/ Offered By
.off_by
  .off_by_profile
    %h4.profile_title_h4 Offered by:
    .profile_pic
      = image_tag(@service.user.profile.avatar.url(:thumb))
    %h3.profile_title_h3
      = @service.user.profile.full_name
      %span= truncate(@service.user.profile.location.try(:address), :length => 40)
  .profile_list
    %p
      %span.pl_left Website:
      %span.pl_right
        = link_to "#{truncate(@service.user.profile.try(:website), :length => 25)}", "#{format_link(@service.user.profile.try(:website))}", :target => "_blank"
    %p
      %span.pl_left Social Network:
      %span.pl_right
        - unless @service.user.profile.facebook.blank?
          = link_to "", "#{format_link(@service.user.profile.facebook)}", :target => "_blank", :title => "Facebook", :class => "pl_sn"
        - unless @service.user.profile.twitter.blank?
          = link_to "", "#{format_link(@service.user.profile.twitter)}", :target => "_blank", :title => "Twitter", :class => "pl_sn tw_pl"
        - unless @service.user.profile.linkedin.blank?
          = link_to "", "#{format_link(@service.user.profile.linkedin)}", :target => "_blank", :title => "Linkedin", :class => "pl_sn ln_pl"
    %p
      %span.pl_left Reviews:
      %span#review_percentage.pl_right= review_percentage(@service)
    %p
      %span.pl_left Transactions:
      %span.pl_right= @service.user.profile.try(:donated_transaction)
    %p
      %span.pl_left Raised:
      %span.pl_right=  "$" + @service.user.profile.try(:donated_amount).to_i.to_s
    %p
      %span.pl_left About me:
      %span.pl_right
        = truncate(@service.user.profile.try(:about_me), :length => 100)
  %p.pl_view_more
    = link_to "View Profile", profile_path(@service.user.id)
    %br
    - if current_user
      %br= link_to "Message me" , new_message_path(:id => @service.user.id)
/ #End Offered By
