/ Offered By
.off_by
  .off_by_profile
    %h4.profile_title_h4 Offered by:
    .profile_pic
      = image_tag(@service.user.profile.avatar.url(:thumb))
    %h3.profile_title_h3
      = @service.user.profile.try(:first_name)
      %span= @service.user.location.try(:address)
  .profile_list
    %p
      %span.pl_left Website:
      %span.pl_right
        = link_to "#{@service.user.profile.try(:website)}", "#"
    %p
      %span.pl_left Social Network:
      %span.pl_right
        = link_to "", "#", :target => "_blank", :title => "Facebook", :class => "pl_sn"
        = link_to "", "#", :target => "_blank", :title => "Twitter", :class => "pl_sn tw_pl"
        = link_to "", "#", :target => "_blank", :title => "Linkedin", :class => "pl_sn ln_pl"
    %p
      %span.pl_left Reviews:
      %span.pl_right= @service.user.profile.total_reviews == 0 ? "---" : (@service.user.profile.positive_reviews * 100 / @service.user.profile.total_reviews).to_i.to_s + " % Positive"
    %p
      %span.pl_left Transactions:
      %span.pl_right= @service.user.profile.try(:donated_transaction)
    %p
      %span.pl_left Raised:
      %span.pl_right=  "$ " + @service.user.profile.try(:donated_amount).to_i.to_s
    %p
      %span.pl_left Description:
      %span.pl_right
        = truncate(@service.user.profile.try(:about_me), :length => 100)
  %p.pl_view_more
    = link_to "View Profile", profile_path(@service.user.profile)
    %br
    - if current_user
      %br= link_to "Message me" , new_message_path(:id => @service.user.id)
/ #End Offered By
