/ Search
.search
  .search_div_top
    = link_to "Offer", new_service_path, :class => 'search_off_a'
    a lesson/consultation to support your favorite non-profit. Everyone has something to offer!
    %span
      %a{:href => requests_path} see requests
  .search_div
    = form_for :service, :url => newoffer_services_path, :html => {:method => :post} do
      - str = service_suggest(3).collect(&:title).join(' or ')
      = hidden_field_tag :suggest, str
      = text_field_tag :title, nil, :value => str,  :class =>'search_div_input', :onblur => "if(this.value=='')this.value='#{str}';",  :onfocus => "if(this.value=='#{str}')this.value='';"
      
      = submit_tag "Offer", :class => "button btn_form"
/ End Search
