:javascript
  jQuery(document).ready(function(){
    $('#spinner').hide();

    $('.show_review').click(function(){
      $(".review").hide();
      $(".show_review").hide();
    });
    
      $("#new_review").bind("ajax:beforeSend", function() {
        $('#spinner').show();
        if($("#review_review_remark").val() == '') {
          alert('Please add review');
          $('#spinner').hide();
          return false;
        }
        $("#review_review_remark").val('');
      });
      
      $("#new_review").bind("ajax:complete", function() {
        $('#spinner').hide();
      });
    
  });
%h3.comment_icon
  = image_tag('review_icon.png', :alt => "Review")
  %span Reviews
- if user_signed_in? and is_buyer(current_user.id,@service.id)
  - form_for(@review, :url => review_services_path,:remote => true, :html => {:class => "review_form"}) do |f| 
    = f.select :is_positive, REVIEW.collect{|b| b}
    #spinner= image_tag('/images/spinner.gif')
    = f.text_area :review_remark,  :placeholder => "Write your review...", :rows => "5", :cols => "50" 
    = f.hidden_field :service_id
    = f.submit :class => "button review_form_sub"
%br
%div.review
  = render :partial => 'new_review'
/%h3.comment_icon
/  = image_tag('q_a_icon.png', :alt => "Reviews")
/  %span Q&amp;A
/= image_tag('comments.png', :alt => "comments", :style => "float:left;")
