%p.services_content_disc= @service.description
.address_text
  %p
    %span.add_left Location:
    %span.add_right= @service.location.try(:address)
  %p
    %span.add_left Dates Available:
    - if @service.is_schedulelater
      %span.add_right To be scheduled
    - else
      %span.add_right= @service.start_date 
      To &nbsp;&nbsp;&nbsp;&nbsp; 
      = @service.end_date 
      %p
        %span.add_left Time Available:
        - if !@service.start_time.blank? 
          %span.add_right= @service.start_time 
          To 
          = @service.end_time 
        - else
          %span.add_right Any 
  %p
    %span.add_left Spots Available:
    %span.add_right= @service.booking_capacity - @service.booked_seats 
%hr.add_hr/
