%p.services_content_disc= h(@service.description).gsub("\n", "<br/>")
.address_text
  %p
    %span.add_left Location:
    -if @service.is_virtual
      %span.add_right_location Virtual
    - else
      %span.add_right_location= @service.location.try(:address)
  %p
    %span.add_left Dates Available:
    - if @service.is_schedulelater 
      %span.add_right_location To be scheduled
    - else
      %span.add_right= @service.start_date 
      %span.add_middle To 
      %span.add_right= @service.end_date 
      %p
        %span.add_left Time (in EST):
        - if !@service.start_time.blank? 
          %span.add_right= (@service.start_time).strftime("%H:%M %p")
          %span.add_middle To 
          %span.add_right= (@service.end_time).strftime("%H:%M %p")
        - else
          %span.add_right Any 
  - if @service.estimated_duration > 0 
    %p
      %span.add_left Est Duration:
      %span.add_right= @service.estimated_duration 
      %span.add_middle{:style => "margin-left:-140px"}hrs
  - if @service.booking_capacity > 0 
    %p
      %span.add_left Spots Available:
      %span.add_right= @service.booking_capacity - @service.booked_seats 
%hr.add_hr/
