:javascript
  jQuery(document).ready(function(){
    $('#spinner').hide();

    $('.show_review').click(function(){
      $(".review").hide();
      $(".show_review").hide();
    });
    
      $("#new_review").bind("ajax:beforeSend", function() {
        $('#spinner').show();
        if($("#review_review_remark").val() == '') {
          alert('Please add review');
          $('#spinner').hide();
          return false;
        }
        $("#review_review_remark").val('');
      });
      
      $("#new_review").bind("ajax:complete", function() {
        $('#spinner').hide();
      });
    
  });
%h3.comment_icon
  = image_tag('review_icon.png', :alt => "Review")
  %span Reviews
- if user_signed_in? and is_buyer(current_user.id,@service.id)
  - form_for(@review, :url => review_services_path,:remote => true, :html => {:class => "review_form"}) do |f| 
    = f.select :is_positive, REVIEW.collect{|b| b}
    #spinner= image_tag('/images/spinner.gif')
    = f.text_area :review_remark,  :placeholder => "Write your review...", :rows => "5", :cols => "50" 
    = f.hidden_field :service_id
    = f.submit :class => "button review_form_sub"
%br
%div.review
  = render :partial => 'new_review'
#fb-root
:javascript
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
%h3.comment_icon
  = image_tag('q_a_icon.png', :alt => "Comment")
  %span Comments and Q&A 
.fb-comments{"data-href" => "#{service_url(@service.permalink)}", "data-num-posts" => "1", "data-width" => "600"}

/ FACEBOOK COMMENT
/href - News feed stories on Facebook will link to this URL.
/width - the width of the plugin in pixels. Minimum recommended width: 400px.
/num_posts - the number of comments to show by default. Default: 10. Minimum: 1 



/%h3.comment_icon
/  = image_tag('q_a_icon.png', :alt => "Reviews")
/  %span Q&amp;A
/= image_tag('comments.png', :alt => "comments", :style => "float:left;")
