
%table.up_table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
  %tr.up_tab_top
    %th
      %span Buyer
    %th Payment Amt
    %th Payment Date
    %th Seats Booked
    %th Review?
    %th.empty_col
    %th.bg_white &nbsp;
    %th.bg_white &nbsp;
    %th.bg_white &nbsp;
    %th.bg_white &nbsp;
  - @transactions.each do |booking|
    %tr
      %td
        %span.person_review= link_to("#{booking.user.profile.full_name}", profile_path(booking.user) )
      %td= "$#{booking.total_amount}"
      %td= booking.transaction.created_at.strftime("%m-%d-%Y")
      %td= booking.seats_booked
      - review = booking.service.reviews.first
      - unless review.blank?
        - icon_name = review.is_positive ? "positive" : "negative"
        %td
          %b{:class => "set_icons #{icon_name}_icon"}
      - else  
        %td= "-"
      %td.empty_col
      %td.bg_white
      %td.bg_white
      %td.bg_white
      %td.bg_white
= will_paginate(@transactions, :renderer => PaginationListLinkRenderer)
