- content_for :header do
  = javascript_include_tag 'service', 'filter'
.sidebar_bar
  = render "service_search"
  .sidebar_left_find
    = render 'category_filter'
    = render 'nonprofit_filter'
    = render 'price_filter'
    = render 'date_filter'
.featured_services_find
  %h2.fs_find_h2
    Popular results
    %br/
    %span
      Don't find what you are looking for?
      %a{:href => new_request_path} Place your request here
  .featured_list_find{:id => 'service_list'}
:javascript
  var services = #{@services.to_json};
