- form_for @message, :url => create_message_path, :html => {:method => :post}, :builder => JoshForm, :remote => true do |f| 
  .setp_box
    = f.text_field :title, :label => "Subject"
    = f.text_area :message, :label => "Message", :class => "area_edit"
    = f.hidden_field :sender_id
    = f.hidden_field :receiver_id
    = f.hidden_field :parent_message_id
    = f.submit "Send" 
