
%table.up_table.mail_box{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
  %tr.up_tab_top
    %th
      %span From
    %th
      %span Subject
    %th Received
    %th Replied?
  - counter = 0
  - unless @messages.blank?
    - @messages.each do |msg|
      - message_class = msg.is_read ? "mail_red" : "mail_un_red"
      %tr{:class => "#{message_class}"}
        %td
          %span= msg.sender.profile.first_name
        %td
          %span.mail_sub
            = link_to msg.title, message_path(@user, msg.id)
        %td= msg.created_at.strftime("%m/%d/%y")
        %td= msg.is_replied ? "Yes" : ''
      - counter += 1
= will_paginate(@messages, :renderer => PaginationListLinkRenderer)


/ End Tab 4




