= render :partial => "layouts/profile_tabs"
#tab4.tab_content
  .up_profile
    %h2
      Inbox 
      %span.msg_status
        (
        - total_message = @unread_message.size + @read_message.size
        %strong= @unread_message.size 
        unread message, Showing
        %strong= total_message 
        out of
        %strong= total_message
        )
    #message
      = render :partial => "message"
       
/ End Tab 4




