
#tab4.tab_content
  .up_profile
    %h2
      Inbox 
      %span.msg_status
        (
        - total_message = @unread_message.size + @read_message.size
        %strong= @unread_message.size 
        unread message, Showing
        %strong= total_message 
        out of
        %strong= total_message
        )
    %table.up_table.mail_box{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
      %tr.up_tab_top
        %th
          %span From
        %th
          %span Subject
        %th Received
        %th Replied?
      - counter = 0
      - unless @unread_message.blank?
        - @unread_message.each do |msg|
          %tr.mail_un_red
            %td
              %span= msg.sender.profile.first_name
            %td
              %span.mail_sub
                = link_to msg.title, message_path(msg.id)
            %td= msg.created_at.strftime("%m/%d/%y")
            %td
          - counter += 1
      - counter = 0
      - unless @read_message.blank?
        - @read_message.each do |msg|
          %tr.mail_red
            %td
              %span= msg.sender.profile.first_name 
            %td
              %span.mail_sub
                = link_to msg.title, message_path(msg.id)
            %td= msg.created_at.strftime("%m/%d/%y")
            %td= msg.is_replied ? "Yes" : ''
          - counter += 1    
/ End Tab 4




