
:javascript
  $(document).ready(function(){
  	$(".mail_reply_form").hide();
  	$(".mail_reply_btn").click(function(){
  		$(this).toggleClass("").next().slideToggle("fast");
  		$(".mail_reply_btn").hide();
  		return false;
  	});
  	$(".mail_reply_reset").click(function(){
  		$(this).toggleClass("").next().slideToggle("fast");
  		$(".mail_reply_form").hide();
  		$(".mail_reply_btn").slideToggle("fast");
  		return false;
  	});
   
  });
/ Tab 4
#tab4.tab_content
  .up_profile.mail_details
    = link_to "Go back to mailbox", list_messages_path, :class => "bro_req_btn"
    %ul.mail_details_list
      %li
        %span From:
        %b.person_review= @msg.sender.profile.first_name
      %li
        %span> Received:
        10:40 am
      %li
        %span> Replied:
        11:55 am
    %h3.mail_subject_head
      %span= @msg.title
    %p.mail_text= @msg.message
    = link_to "Reply", "#" , :class => "button mail_reply_btn"
    .mail_reply_form
      = render :file => new_message_path
  / End Tab 4





    
