= form_for @profile, :as => :profile, :url => profiles_path,:html => {:method => 'post', :multipart => true} do |f| 

  %p= f.label :first_name 
  = f.text_field :first_name 

  %p= f.label :last_name 
  = f.text_field :last_name 


  %p= f.label :gender 
  = f.radio_button(:gender, "male") 
  = f.label(:gender, "Male") 
  = f.radio_button(:gender, "female") 
  = f.label(:gender, "Female") 

  %p= f.label :about_me 
  = f.text_area :about_me,:cols => 50, :rows => 10 

  %p= f.label :avatar 
  = f.file_field :avatar
  -unless f.object.new_record?
    = link_to( image_tag(f.object.avatar.url(:small)), f.object.avatar.url(:original) )
  
  %p= f.submit "Create" 
