.featured_services
  %h2.pp_h2
    Service Offered by #{@profile.first_name}
  - unless @profile.user.services.blank?
    .featured_list
      %a{:href => service_path(service)}
      .fs_box
        .tag_spots
        .fs_box_pic
          = image_tag !@profile.user.services.first.images.first.blank? ? "#{@profile.user.services.first.images.first.image.url(:thumb)}" : "/images/pics-1.jpg"
        .fs_left
          %span.fs_head= @profile.user.services.first.title
          %span.fs_for for
          %span.fs_disc= @profile.user.services.first.nonprofit.try(:name)
        .fs_price
          $#{@profile.user.services.first.amount}
        .clear
