#tab1.tab_content
  .up_my_profile
    = form_for @profile, :builder => JoshForm, :html => {:multipart => true} do |f| 
      .up_my_profile_left
        .mypic
          = image_tag(f.object.avatar.url(:medium))
      .up_my_profile_right_edit
        = f.text_field :first_name, :class => "input_half"
        = f.text_field :last_name, :class => "input_half"
        %p
          %label.form_lbl 
          = f.select :gender, GENDER.collect{ |g| [ g, g] }, { }, :class => "my_edit_input sle_inp", :style => "float:left;margin-left:10px"
          = f.check_box :hide_gender, {:class => "my_edit_check"}, "true", "false"
          %text Don't display on my public profile
        = f.fields_for :location do |loc|
          = loc.text_field :address, :class => "input_half", :type => "profile"
        %p
          %label.form_lbl Email
          %text.my_edit_lbl_l{:style => "float:left;margin-left:10px"}= @profile.user.email
          = f.check_box :hide_email, {:class => "my_edit_check"}, "true", "false"
          %text Don't display on my public profile
        = f.text_field :website, :class => 'input_half'
        = f.file_field :avatar, :class => 'input_browse'
        = f.text_area :about_me, :class => "area_edit"  
        = f.text_field :facebook, :class => 'input_half'
        = f.text_field :twitter, :class => 'input_half'
        = f.text_field :linkedin, :class => 'input_half'
        %p.my_edit_btns
          = f.submit 
