:javascript
  function ask_user(booking_count)
  {
    if(confirm('Are you sure you want to remove service.There are associated with this service')){
      return true;
    } 
    return false;
  }

= render :partial => "layouts/profile_tabs"
#tab2.tab_content
  .up_profile
    %h2 Offered By me:
    %table.up_table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
      %tr.up_tab_top
        %th
          %span Service Title
        %th Non-Profit
        %th Purchases
        %th Amount Donated
        %th Expires
        %th.empty_col
        %th.bg_white &nbsp;
        %th.bg_white &nbsp;
        /%th.bg_white &nbsp;
        /%th.bg_white &nbsp;
      - @services.each do |service|
        %tr{:class => "#{'expired_row' if is_expired?(service)}", :id => "service_#{service.id}"}
          %td
            %span 
              = link_to service.title, service_path(service)
          %td #{service.nonprofit.name} 
          %td #{service.total_transactions.to_i} 
          %td $#{service.donated_amount.to_i}
          %td
            %b #{is_expired?(service) ? 'Expired' : service.start_date.strftime('%m-%d-%Y') unless service.is_schedulelater?}
          %td.empty_col
          %td.bg_white
            /= link_to '', cancel_service_profile_path(@user, :id => service), :class => "set_icons refund", :remote => true, :method => :post, :confirm => "Are you sure you want to cancel the service?" 
          %td.bg_white
            /= image_tag('edit_icon.jpg', :alt => "edit")
            = link_to image_tag('edit_icon.jpg', :alt => "edit"), edit_service_path(service)
          %td.bg_white
            = link_to '', service_path(service), :class => "set_icons viewpost"
          %td.bg_white
            = link_to 'Invite friends', invite_friends_service_path(service), :class => "set_icons viewpost"
          %td.bg_white
            = link_to 'remove friends', remove_service_path(service), :class => "set_icons viewpost", :onclick => "ask_user(#{service.booked_seats})"
          /%td.bg_white
          /%a.set_icons.manage_service{:href => "#"}
          /%td.bg_white
          /%a.set_icons.re_offer{:href => "#"}
    %p.up_bottom_p
      = link_to "Check out requests from buyers and offer a new service today!", requests_path
