- content_for :header do
  = stylesheet_link_tag "jquery.tooltip"
  = javascript_include_tag "jquery-dimension", "jquery.tooltip.min"
:javascript
  jQuery(document).ready(function(){
    $('.bg_white a').tooltip({ 
      delay: 0, 
      showURL: false, 
      bodyHandler: function() { 
        return $(this).attr("detail"); 
      } 
      });
    });
= render :partial => "layouts/profile_tabs"
#tab2.tab_content
  .up_profile
    %h2 Offered By me:
    #service_offerer
      = render :partial => "service_offerer"
    %p.up_bottom_p
      = link_to "Check out requests from buyers and offer a new lesson today!", requests_path
    %h2 Purchased by me:
    #service_buyer 
      = render :partial => "service_buyer", :object => @bookings
    %p.up_bottom_p
      = link_to "Browse all lessons offered", services_path
      %span or
      = link_to "Make a Request", new_request_path
