= render :partial => "layouts/profile_tabs"
#tab2.tab_content
  .up_profile
    %h2 Offered By me:
    %table.up_table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
      %tr.up_tab_top
        %th
          %span Service Title
        %th Non-Profit
        %th Purchases
        %th Amount Donated
        %th Expires
        %th Status
        %th.empty_col
        %th.bg_white &nbsp;
        %th.bg_white &nbsp;
        /%th.bg_white &nbsp;
        /%th.bg_white &nbsp;
      - @services.each do |service|
        %tr{:class => "#{'expired_row' if is_expired?(service)}", :id => "service_#{service.id}"}
          %td
            %span 
              = link_to service.title, service_path(service)
          %td #{service.nonprofit.name} 
          %td #{service.total_transactions.to_i} 
          %td $#{service.donated_amount.to_i}
          %td
            %b #{is_expired?(service) ? 'Expired' : service.start_date.strftime('%m-%d-%Y') unless service.is_schedulelater?}
          %td #{service.status.humanize}
          %td.empty_col
          %td.bg_white
            /= link_to '', cancel_service_profile_path(@user, :id => service), :class => "set_icons refund", :remote => true, :method => :post, :confirm => "Are you sure you want to cancel the service?" 
          - if service.status != 'removed'
            %td.bg_white
              /= image_tag('edit_icon.jpg', :alt => "edit")
              = link_to image_tag('edit_icon.jpg', :alt => "edit"), edit_service_path(service)
            %td.bg_white
              = link_to '', service_path(service), :class => "set_icons viewpost"
            %td.bg_white
              = link_to '', service_detail_service_path(service), :class => "set_icons manage_service"
          - else
            %td.bg_white
            %td.bg_white
            %td.bg_white
          /%td.bg_white
          /%a.set_icons.re_offer{:href => "#"}
    %p.up_bottom_p
      = link_to "Check out requests from buyers and offer a new service today!", requests_path
    %h2 Purchased by me:
    %table.up_table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
      %tr.up_tab_top
        %th{:style => 'width:200px;word-wrap:break-word'}
          %span Service Title
        %th Offerer
        %th{:style => 'width:100px;word-wrap:break-word'} Location
        %th Date
        %th
          Payment
          %br
          Amount
        %th
          Payment
          %br
          Status
        %th
          Reference
        %th.bg_white &nbsp;
        %th.bg_white &nbsp;
        %th.bg_white &nbsp;
      - @bookings.each do |booking|  
        %tr
          %td{:style => 'width:200px;word-wrap:break-word'}
            %span= booking.service.title
          - full_name = "#{booking.service.user.profile.first_name} #{booking.service.user.profile.last_name}"
          %td= full_name 
          - location = booking.service.location ? [booking.service.location.city, booking.service.location.state].join(', ') : '-'
          %td{:style => 'width:100px;word-wrap:break-word'}= location
          %td= booking.created_at.strftime("%m-%d-%Y")
          %td= booking.total_amount
          %td= booking.charge_status.titleize
          %td= booking.mref
          %td.bg_white
            = link_to "", service_path(booking.service), :class => "set_icons viewpost"
          /%td.bg_white
          /%a.set_icons.write_review{:href => "#"}
    %p.up_bottom_p
      = link_to "Browse all services offered", services_path
      %span or
      = link_to "Make a Request", new_request_path
