
%h1= "Change password"
= form_tag(:action => 'change_password') do
  %table
    %tr 
      %td= label_tag(:password) 
      %td= password_field(:non_profit,:password)

    %tr
      %td= label_tag(:password_confirmation)
      %td= password_field(:non_profit,:password_confirmation)

    %tr
      %td 
      %td= submit_tag('Update')

