

= form_for :non_profit,:html => { :multipart => true } do |f| 
  %h1 
    Organization Information

  = f.label :EIN
  = f.text_field :EIN
  %br
  = f.label :name
  = f.text_field :name
  %br
  = f.label :logo
  = f.file_field :photo
  %br
  %h3= "Account Information"
 
  = f.label :username
  = f.text_field :username
  %br
  = f.label :password
  = f.password_field :password
  %br
  = f.label :password_confirmation
  = f.password_field :password_confirmation
  %br
  %h3= "Contact Information"

  = f.label :uuid
  = f.text_field :uuid
  %br
  = f.label :contact_name
  = f.text_field :contact_name
  %br
  = f.label :email
  = f.text_field :email
  %br
  = f.label :description
  = f.text_area :description
  %br
  = f.label :phone_number
  = f.text_field :phone_number
  %br
  = f.submit 'Register'

