<h2>Register</h2>

<%= form_for :non_profit,:html => { :multipart => true } do |form| %>
   
    <h1> Organization Information</h1>  

    <label for="EIN">EIN:</label>
    <%= form.text_field :EIN %>
    <br />

    <label for="name">Name:</label>
    <%= form.text_field :name %>
    <br />

    <label for="name">Logo:</label>
    <%= form.file_field :photo %>
    <br /> 

    <h1> Account Information </h1> 

    <label for="screen_name">Username:</label>
    <%= form.text_field :username %>
    <br />
    
    <label for="password">Password:</label>
    <%= form.password_field :password %>
    <br />
  
    <label for="password">ConfirmPassword:</label>
    <%= form.password_field :password_confirmation %>
    <br />

    <h1> Contact Information </h1>

    <label for="UUID">UUID:</label>
    <%= form.text_field :uuid %>
    <br />
    
    <label for="contact_name">Contactname:</label>
    <%= form.text_field :contact_name %>
    <br /> 

    <label for="email">Email:</label>
    <%= form.text_field :email %>
    <br /> 


    <label for="Description">Description:</label>
    <%= form.text_field :description %>
    <br />
    
    <label for="Description">PhoneNumber</label>
    <%= form.text_field :phone_number %>
    <br />
    
    <%= submit_tag "Register!", :class => "submit" %>
 

<% end %>

