%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      Yippee! Someone just purchased your service! Please see details below:
    %p
      Transaction ID: #{@booking_trnx_id} 
    %p
      Name of buyer: #{@buyer_name} 
    %p
      Email of buyer: #{@buyer_email}
    %p
      Service title: #{@service_title}
    %p
      Supported non-profit: #{@nonprofit_name} 
    %p
      Number of spots purchased: #{@spots}
    %p
      Total amount paid: #{@amount}
    %p
      Please make sure to connect with the buyer using the above email address above and schedule to deliver the service. You can also see details of the purchase on 
      =link_to "goodinkind.com","http://goodinkind.com" 
      in the My Services section, which will be available after you login.
    %p
      Thank you for doing good and having an impact on this world!
    %p
    \--
    %b Your friends at GoodInKind
