
%br
%p Congratulations! Your GoodInKind partner application has been approved, and we are super thrilled about it! Users of GoodInKind will now be able to choose  #{@nonprofit_name} to be the recipient of funds raised through sale of services on the website.
%br
%p Your profile on GoodInKind has been pre-populated with information you submitted in your application as well as with any information available via First Giving, our payment partner. We recommend you login to your profile with the username and password you created while submitting your application, and update your profile information.

%p You can access your profile at
= link_to "", "http://nonprofits.goodinkind.com/signup"
%br
%p The unique link where your donors will be able to browse services posted to benefit your organization, or offer a service is at:
= link_to("#{@nonprofit_perm}", "#{@nonprofit_perm}")
%span Feel free to share this link on your website or other communications to your donors.
%br

%p If you have questions,please reach out to Dave at
= mail_to " daveg@goodinkind.com"
%br

%p Our small team is looking forward to working together with you. 
%br
%p Your friends at GoodInKind
