%p= "Hello #{@nonprofit.email}"
%br
%p= "We received a request to reset the password for your GoodInKind non-profit account with  username:#{@nonprofit.username}  and you can do this through the link below"
%p= link_to 'Change my password', reset_password_nonprofits_url(:reset_password_token => @nonprofit.reset_password_token) 
%br
%p If you didn't request this, please ignore this email.
%br
%p Your password won't change until you access the link above and create a new one.
%br
%span 
  You can now login by clicking 
  = link_to 'here', 'http://nonprofits.goodinkind.com/signup'
%br
%br
%p Cheers,
%p Your friends at GoodInKind

