%p= "Hello #{@nonprofit.email}"
%br
%span 
  = "We received a request to send you your username. Your GoodInKind username is #{@nonprofit.username}.  You can now login by clicking" 
  = link_to 'here', 'http://nonprofits.goodinkind.com/signup' 
%br
%p If you didn't request this, please ignore this email.
%br
%p Your friends at GoodInKind
%br
%br
%p Cheers,
%p Your friends at GoodInKind

