:javascript
  $(document).ready(function(){
    $(".sign_reg_link").click(function(){
        $("#sign_up_form").toggle();
        $(".term").toggle();
  	});
   
  });
.sing_up_fb
  = link_to image_tag('fb_signup_btn.png'), "/auth/facebook"
  %p
    We will
    %strong
      %em never
    post to your wall without your permission. Signing up with Facebook will allow you to access cool features like looking at activities posted by your friends.
.term
  %span.sign_up_form_t_c
    By clicking Sign Up you agree to our user
    %a{:href => "/docs/user_terms_and_conditions.html", :target => "_blank"} terms and conditions
.sing_up_fb
  %span
%a.sign_reg_link{:href => "#"} Sign up using our registration form
.sign_up_form#sign_up_form{:style => "display: #{resource.errors.any? ? 'block':'none'} "}
  - resource.build_profile if resource.profile.blank?
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :builder => JoshForm) do |f|
    
    = f.email_field :email, :class => "sign_up_form_inp"
    = f.fields_for :profile do |profile|
  
      = profile.text_field :first_name, :class => "sign_up_form_inp"
      = profile.text_field :last_name, :class => "sign_up_form_inp"
    - if @user.password_required?
      = f.password_field :password, :class => "sign_up_form_inp"
      = f.password_field :password_confirmation, :class => "sign_up_form_inp"
    %span.sign_up_form_t_c
      By clicking Sign Up you agree to our user
      = link_to('terms and conditions', '/docs/user_terms_and_conditions.html', :target=>"_blank")
    .input_post_div{:style => "margin-left:50px;"}
      = f.submit "Sign Up", :class => "sign_up_form_btn btn_form button"
%p.sign_up_bootm_p
  If you're representing a non-profit,
  = link_to "Click here", login_nonprofits_path


