
%ul.sg_left_links
      
  %li{:class => "#{'sg_left_active' if action_name == 'how_it_works' }" }
    = link_to "How it works", how_it_works_path
  %li{:class => "#{'sg_left_active' if action_name == 'faq' }" }
    = link_to "FAQ", faq_path
  %li{:class => "#{'sg_left_active' if action_name == 'about_us' }" }
    = link_to "About", about_us_path
  %li{:class => "#{'sg_left_active' if action_name == 'contact_us' }" }
    = link_to "Contact", contact_us_path
  %li{:class => "#{'sg_left_active' if action_name == 'np_terms_of_use' }" }
    = link_to "Non-profit terms of use", np_terms_of_use_path
  %li{:class => "#{'sg_left_active' if action_name == 'user_terms_of_use' }" }
    = link_to "User terms of use", user_terms_of_use_path
