= javascript_include_tag 'jquery.innerfade'

:javascript
  $(document).ready(
  function(){
  $('#slide_text').innerfade({
  animationtype: 'slide',
  speed: 250,
  timeout: 4000,
  containerheight: ''
  });
  });
:javascript
  $(document).ready(function(){

  	$("#in").click(function(event){
  		$("#overlay").fadeIn("fast");
  		return false;
    });

    $("#close,#overlay").click(function(event){
        $("#overlay").fadeOut("fast");
        return false;
    });

    $(document).keyup(function(e) {
       if (e.keyCode == 27) { $('#overlay').hide(); }   // esc
    });

  	$("#box").click(function(event){
  		$("#overlay").show();
  		return false;
  	});

  });

#overlay
  #box
    %object{:height => "390", :width => "640"}
      %param{:name => "movie", :value => "http://www.youtube.com/v/Y58vy76ONfg?version=3&amp;hl=en_US&amp;rel=0"}/
      %param{:name => "allowFullScreen", :value => "true"}/
      %param{:name => "allowscriptaccess", :value => "always"}/
      %embed{:allowfullscreen => "true", :allowscriptaccess => "always", :height => "390", :src => "http://www.youtube.com/v/Y58vy76ONfg?version=3&amp;hl=en_US&amp;rel=0", :type => "application/x-shockwave-flash", :width => "640"}

%ul#slide_text.slide_text_db
  %li
    GoodInKind allows
    %span everyone
    to give back, while having fun and meeting other great people
  %li 
    GoodInKind converts 
    %span your 
    skills &amp; talents into cash for your favorite non-profit
  %li
    GoodInKind is a
    %span marketplace
    for cool services, from real people who care

.home_banner
  %a#in.watch_video{:href => "#"} Watch Video
  %img{:alt => "Goodinkind", :border => "0", :src => "/images/banner.png", :style => "margin-top:-27px;", :usemap => "#Map"}/
  %map#Map{:name => "Map"}
    / Offer a service link
    %area{:coords => "1,34,312,179", :href => "#{new_service_path}", :shape => "rect"}/
    / Non Profits Link
    %area{:coords => "336,110,650,274", :href => "#{nonprofits_path}", :shape => "rect"}/
    / Browse Services Link
    %area{:coords => "671,40,974,197", :href => "#{services_path}", :shape => "rect"}/
  %ul
    %li
      %strong> Offer a Service
      Think of a service Pick your fave Non-Profit Offer on GoodInKind
    %li
      %strong> Get Together. Do Good.
      Offerer delivers service to buyer We send the proceeds to the non-profit chosen by offerer
    %li
      %strong> Buy a Service
      Explore offered services,or request a service Buy securely
= render :partial => '/services/offer_search'
= render :partial => '/services/featured_service'

