
:javascript
  $(function(){
  	// Vertical
  	$(".np_results_list").hover(function(){
  		$(this).stop().animate({height:"160px"},{queue:false,duration:200});
  	}, function() {
  		$(this).stop().animate({height:"70px"},{queue:false,duration:200});
  	});
  });
  
  $(function(){
  	// Browse Request
  	$(".np_results_list_request").hover(function(){
  		$(this).stop().animate({height:"130px"},{queue:false,duration:200});
  	}, function() {
  		$(this).stop().animate({height:"70px"},{queue:false,duration:200});
  	});
  });


.sidebar_bar
  .sidebar_left_find
    = render "services/category_filter"
  = render "service_suggest"  

.featured_services_find
  %h2.fs_find_h2
    Service Requests
    %br/
    %span May be a line explaining what the requests are?
  .np_results
    - unless @request.blank?
      - @request.each do |req|
        .np_results_list_request
          %h3.np_rel_heading
            = req.title
            - if req.location.blank?
              %span
            - else
              %span= req.location.address
          %span.np_rel_ct Arts and Crafts
          %p.np_rel_ct_text
            = req.description
          %p.np_rel_ct_btns
            = link_to 'Offer this Service', new_service_path(:request_id => req.id), :class => "button bu_right"
    - else
      No pending request !!!
    .pagination
      %span « Previous
      %span{:style => "background:#134d7f; color:#FFF;"} 1
      %a{:href => "#"} 2
      %a{:href => "#"} 3
      %a{:href => "#"} 4
      %a{:href => "#"} 5
      %a{:href => "#"} 6
      %a{:href => "#"} 7
      %a{:href => "#"} 8
      %a{:href => "#"} 9
      %strong ...
      %a{:href => "#"} 50
      %a{:href => "#"} Next »
