%h2 Change your password
.sign_up_form
  = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }, :builder => JoshForm) do |f|
    = f.hidden_field :reset_password_token, :class => "sign_up_form_inp"
    = f.password_field :password, :class => "sign_up_form_inp", :label => "New Password"
    = f.password_field :password_confirmation, :class => "sign_up_form_inp"
    .input_post_div{:style => "margin-left:50px;"}
      = f.submit "Change  password"
