
:javascript
  $(document).ready(function() {
      var term = $('#Accept').val();
      is_termandcondition(term);

  });


  jQuery(document).ready(function(){
    $('#Accept').attr('checked',false) 
     $('#submit_app_div').hide(); 
    $('#Accept').click(function(){
     is_termandcondition($("#Accept").is(':checked'))
         
    });
  
  });

  function is_termandcondition(flag)
  {
    if (flag){
      $('#submit_app_div').show(); 
    }
    else {
      $('#submit_app_div').hide(); 
    }
  }



.offer_form
  = form_for @nonprofit, :builder => JoshForm, :html => {:multipart => true}  do |f| 
    .setp_box
      %h3.setp_box_heading
        %span Organization Information
      = f.text_field :EIN, :class => "input_np", :label => "EIN", :hint => "Format: XX-XXXXXXX"
      = f.text_field :name, :class => "input_np", :label => 'Organization'
      = f.text_field :website, :class => "input_np"
      = f.file_field :photo, :class => "input_browse", :label => "Logo"
    .setp_box
      %h3.setp_box_heading
        %span Account Information
      = f.text_field :username, :class => "input_np"
      = f.password_field :password, :class => "input_np"
      = f.password_field :password_confirmation, :class => "input_np", :label => "Confirm Password"
    .setp_box
      %h3.setp_box_heading
        %span Contact Information
      = f.text_field :contact_name, :class => "input_np", :label => "Name"
      = f.text_field :position, :class => "input_np"
      = f.text_field :email, :class => "input_np", :label => "Work Email"
      = f.text_field :phone_number, :class => "input_np"
      = f.text_field :cell_phone, :class => "input_np"
      %ul.input_radio_nav
        %br/
        %li
          = check_box_tag "Accept",  "false", "true" 
          &nbsp;&nbsp;
          %strong
            I agree to the
            = link_to('terms and conditions', '/docs/GoodInKind 501 Terms and Conditions.html', :target=>"_blank")
            on behalf of my organization
    #submit_app_div
      .input_post_div
        %p By clicking "Submit Application", you are confirming that you are an official representative of the organization for which you are applying.
        %br/
        = f.submit "Submit", :class => "btn_form button form_post_btn"

.clear   
