.stats
  %h3 GoodInKind Stats
  %p
    Total Contributed:
    %span $#{@nonprofit.donated_amount.to_i}
  %p
    Total Hours Contributed:
    %span= @nonprofit.donated_time.to_i
  %p
    Total number of donors:
    %span= @nonprofit.total_donors.to_i
  %p
    Total Transactions:
    %span= @nonprofit.total_transactions.to_i
  %p
    - service_count = get_service_count(@nonprofit)
    = link_to "Browse Services(#{service_count})", service_search_path(:text => @nonprofit.name), :class => "button"
    = link_to 'Offer a Service', new_service_path(:id => @nonprofit.id), :class => "button bu_right"
