- content_for :tab_content do 
  = form_for @nonprofit, :builder => JoshForm, :html => {:multipart => true} do |f|
    .setp_box
      %h3.setp_box_heading
        %span= "Edit '#{@nonprofit.name}' details"
      = f.text_field :name, :class => 'input_half'
      = f.text_field :EIN, :class => 'input_half', :label => "EIN", :disabled => true
      = f.select :category_ids, Category.by_nonprofits.order("name").collect{|b| [ b[:name] , b[:id] ]}, {}, :class => "input_half input_select", :label => "Category"
      = f.text_field :website, :class => "input_half"
      = f.fields_for :location do |loc|
        = loc.text_field :address, :class => "input_half"
      = f.file_field :photo, :class => "input_half", :label => 'Logo'
      = f.text_field :phone_number, :class => 'input_half', :disabled => true
      = f.text_field :contact_name, :class => 'input_half', :disabled => true
      = f.text_field :email, :class => 'input_half', :disabled => true, :label => 'Contact Email'
      = f.text_area :description, :class => "input_area"
      = f.text_area :guideline, :class => "input_area"
    .input_post_div
      = f.submit
