- content_for :tab_content do 
  :javascript
    jQuery(document).ready(function(){
      $('#spinner').hide();
      var is_admin = "#{current_user.try(:is_admin)}";
      if(is_admin){
          $('#nonprofit_phone_number').removeAttr('disabled');
          $('#nonprofit_contact_name').removeAttr('disabled');
          $('#nonprofit_email').removeAttr('disabled');
      }

      $('#nonprofit_search').click(function(){
          var ein = $('#nonprofit_EIN').val();
        $.ajax({
          url: '/nonprofits/search_nonprofit',
          data:'ein='+ ein,
          beforeSend: function(data) {
            $('#spinner').show();
          },
          complete: function(data,status,xhr) {
            if(data.status == 204){
              alert('Nonprift not found with given EIN');
            }
            $('#spinner').hide();
          }
        });
      });

    });
  = form_for @nonprofit, :builder => JoshForm, :html => {:multipart => true} do |f|
    - if @nonprofit.errors.any?
      #error_explanation
        %h2
          = pluralize(@nonprofit.errors.count, "error")
          below prevented a successful save.
    .setp_box
      %h3.setp_box_heading
        %span= "Edit '#{@nonprofit.name}' details"
      - if is_admin?
        #nonprofit_search.btn_form.button{:style => "margin-left:700px;width:90px;", :type => "button"} Search
        #spinner= image_tag('/images/spinner.gif')
      = f.text_field :uuid, :class => 'input_half'
      = f.text_field :name, :class => 'input_half'
      = f.text_field :EIN, :class => 'input_half', :label => "EIN", :hint => "Valid Format: XX-XXXXXXX " 
      = f.select :category_ids, Category.by_nonprofits.collect{|b| [ b[:name] , b[:id] ]}, {}, :class => "input_select", :label => "Category"
      = f.text_field :website, :class => "input_half"
      = f.fields_for :location do |loc|
        = loc.text_field :address, :class => "input_half", :hint => "Enter the actual address as you would enter on any maps website. Do not include P.O. Boxes and building names (such Wilkinson building, East Wing,e etc.)"
      = f.file_field :photo, :class => "input_browse", :label => 'Logo', :hint => "For best results, include an image that is 200X62 pixels. Only JPEG, JPG, PNG, GIF, BMP, TIFF, TIF allowed"
      = f.text_field :phone_number, :class => 'input_half', :disabled => true
      = f.text_field :contact_name, :class => 'input_half', :disabled => true
      = f.text_field :email, :class => 'input_half', :disabled => true, :label => 'Contact Email'
      = f.text_area :description, :class => "input_area", :label => "Mission/Description *"
      = f.text_area :guideline, :class => "input_area", :label => "Guidelines"
      - if is_admin?
        %p
          = f.select :is_verified, NONPROFIT_STATE.collect{ |g| [ g, g] }, { }, :class => "my_edit_input sle_inp", :style => "float:left;margin-left:10px;width:150px;", :label => 'Nonprofit State'
    .input_post_div
      = f.submit 
