- content_for :header do
  = javascript_include_tag 'nonprofits', 'filter'
- content_for :tab_content do
  .featured_services_find
    = link_to "See All", nonprofits_path, :class => 'bro_req_btn'
    - if nonprofit_logged_in?
      = link_to "I am a Non-Profit", nonprofit_path(current_nonprofit), :class => 'bro_req_btn'
    - else
      - unless user_signed_in?
        = link_to "I am a Non-Profit", login_nonprofits_path, :class => 'bro_req_btn'

    %h2.fs_find_h2
      Non-Profit Partners
      %br/
    - if @nonprofits.empty?
      = render :partial => 'np_not_found'
    - else
      %span{:style => "margin-left: 20px"} 
        Choose a non-profit below and support it by either purchasing a lesson or offering a lesson.
        %br/
        %br/
    .np_results#np_results
  :javascript
    var nonprofits = #{@nonprofits.to_json};

- content_for :body_content do 
  .sidebar_bar
    = render 'layouts/nonprofit_search' 
  = yield(:tab_content)
