%h2 NonProfits
- unless @non_profit.nil?
  .inner
    %table{:border => "1", :cellpadding => "0", :cellspacing => "0", :width => "700"}
      %tr{:align => "center"}
        %td
          %h4 NonProfit Name
        %td
          %h4 Description
        %td
          %h4 EIN
        %td
          %h4 Email
        %td
          %h4 Username
      - @non_profit.each do |non_profit|    
        %tr{:align => "center"}
          %td= non_profit.name
          %td= non_profit.description
          %td= non_profit.EIN
          %td= non_profit.email
          %td= non_profit.username



