%h2 Non-Profit Partners Login
= form_for @nonprofit, :url => create_session_nonprofits_path, :method => :post do |f|
  - if @nonprofit.errors[:base].any?
    #error_explanation
      - @nonprofit.errors.full_messages.each do |msg|
        %b= msg
  %p
    = label_tag "Username:"
    = f.text_field :username, :class => "login_box_txt"
  %p
    = label_tag "Password:"
    = f.password_field :password, :class => "login_box_txt"
  %p.login_box_bottom
    = link_to "Forgot Password?", forgot_password_nonprofits_path
    %br/
    = link_to "Forgot Username?", forgot_username_nonprofits_path
    = submit_tag "Login", :class => "btn_form bu_right button"
%p.main_login_bottom
  Don't have a GoodInKind partner account?
  = link_to "Create one today", new_nonprofit_path
