%h2 Change your password

= form_for  @nonprofit, :url => update_password_nonprofits_path, :html => { :method => :post } do |f| 
  = f.hidden_field :reset_password_token
  %p New password 
  %br
  = f.password_field :password 
  %p Confirm new password 
  %br/
  = f.password_field :password_confirmation 
  %br/
  %p= f.submit "Change my password" 


