- content_for :tab_content do
  .np_profile_left
    .np_profile_info
      - if current_nonprofit == @nonprofit
        %span.edit_info
          = image_tag('edit_icon.jpg', :alt => "edit")
          = link_to "Edit Information", edit_nonprofit_path(@nonprofit)
      %p
        %label Name:
        %span.np_info_text= @nonprofit.name
      %p
        %label EIN:
        %span.np_info_text= @nonprofit.EIN
      %p
        %label Category:
        %span.np_info_text= @nonprofit.categories.try(:first).try(:name)
      %p
        %label Website:
        %span.np_info_text
          = link_to @nonprofit.website, format_link(@nonprofit.website)
      %p
        %label Address:
        %span.np_info_text= @nonprofit.location.try(:address)
      %p
        %label Phone:
        %span.np_info_text= @nonprofit.phone_number
      - if @nonprofit.show_contact_details
        %p
          %label Contact Name:
          %span.np_info_text= @nonprofit.contact_name
        %p
          %label Contact Email:
          %span.np_info_text= @nonprofit.email
      %p
        %label Description:
        %span.np_info_text= @nonprofit.description
      %p
        %label Guidelines:
        %span.np_info_text= @nonprofit.guideline
  = render :partial => "gik_stats"
