- content_for :tab_content do 
  .transactions_bord
    - if @bookings.count == 0
      %p
      You have no completed transactions yet. When someone buys a service on GoodInKind to support your organization, this page will show the details of the transactions.
    - else
      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
        %tr.table_top_color
          %th Offerer
          %th Email
          %th Buyer
          %th Email
          %th Date
          %th Service
          %th.td_amount Amount
        - @bookings.each do |booking|
          - service = booking.service
          - offerer = service.user.profile
          - buyer = booking.user.profile
          %tr
            %td.td_name= get_user_name(offerer)
            %td= offerer.user.email
            %td.td_name= get_user_name(buyer)
            %td= buyer.user.email
            %td= booking.created_at.strftime("%m/%d/%Y")
            %td
              %b
                =link_to service.title, service_path{service.permalink}
            %td.td_price= booking.total_amount
