#slidingDiv
  = link_to "", "#", :id => "city_close",  :class => "city_close"
  %h4
    We are only available in the Ithaca, NY region right now, but you will still be able to offer and purchase virtual services regardless of your location.
    %br/
    Please tell us in which city you'd like us to rollout next.
  
  = form_tag offer_virtual_path do 
    = label_tag "invite", "Your City", :class => "change_city_lbl"
    = text_field "invite", "city", :placeholder => "City Name", :class => "change_city_inpt"
    = label_tag "invite", "Your Email", :class => "change_city_lbl"
    = text_field "invite", "email", :placeholder => "Your E-mail", :class => "change_city_inpt"
    = submit_tag "Submit", :class => "button bu_right btn_form c_c_submit"
