.dashboard_mini
  %span.dm_user
    Welcome #{current_user.email}, you are an
    %b Agent of Change
  %span.dm_price
    = image_tag('dot_dash.png', :alt => "dot")
    %b $100
  %span.dm_price.dm_time
    = image_tag('dash_time.png', :alt => "time")
    %b 24h
  %ul.dm_nav
    %li
      = link_to "Profile", profiles_path
    %li
      = link_to "My Services", "#"
    %li
      = link_to "Logout", destroy_user_session_path, :method => :get
  %span.dm_network
    = image_tag('network_icon.png', :alt => "Network")
    %strong.count 3
  %span.dm_mail
    = image_tag('mail_icon.png', :alt => "mail")
    %strong.count.mail_c 3
  %span.dm_st
  %span
