.dashboard_mini
  %span.dm_user
    Welcome  you are an
    %b Agent of Change
  %span.dm_price
    = image_tag('dot_dash.png', :alt => "dot")
    %b $#{current_user.profile.blank? ? 0 : current_user.profile.donated_amount}
  %span.dm_price.dm_time
    = image_tag('dash_time.png', :alt => "time")
    %b #{current_user.profile.blank? ? 0 : current_user.profile.donated_time}
  %ul.dm_nav
    %li
      = link_to "Profile", profiles_path
    %li
      = link_to "My Services", "#"
    %li
      = link_to "Logout", destroy_user_session_path, :method => :get
  / Network Functionality posted on 7-SEP-11    
  %span.dm_network
    /= image_tag('network_icon.png', :alt => "Network")
    /%strong.count= current_user.messages.where(:is_read => false).size 
  %span.dm_mail
    = image_tag('mail_icon.png', :alt => "mail")
    %strong.count.mail_c= current_user.messages.where(:is_read => false).size
  %span.dm_st
  %span
