
- if Rails.env == 'production'
  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-22973526-4']);
    _gaq.push(['_setDomainName', '.goodinkind.com']);
    _gaq.push(['_trackPageview']);

    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

- if Rails.env != 'development' 
  :javascript
    var uvOptions = {};
    (function() {
      var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
      uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/M3JcagkTBqfhI5DNewliWQ.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
    })();
  
.footer
  - if Rails.env == 'production'
    .footer_icon_1
      %a{:href => "//privacy-policy.truste.com/click-to-verify/www.goodinkind.com", :target => "_blank", :title => "Privacy Policy by TRUSTe"}
        %img{:alt => "Privacy Policy by TRUSTe", :src => "//privacy-policy.truste.com/verified-seal/www.goodinkind.com/green/h.png", :style => "border: none"}/

    .footer_icon_1
      %script{:src => "https://seal.verisign.com/getseal?host_name=goodinkind.com&amp;size=M&amp;use_flash=NO&amp;use_transparent=NO&amp;lang=en", :type => "text/javascript"}
      %br/
      %a{:href => "http://www.verisign.com/verisign-trust-seal", :style => "color:#000000; text-decoration:none; font:bold 7px verdana,sans-serif; letter-spacing:.5px; text-align:center; margin:0px; padding:0px;", :target => "_blank"} ABOUT TRUST ONLINE
    .footer_icon_3
      / BEGIN DigiCert Site Seal Code
      #digicertsitesealcode{:align => "center", :style => "width: 81px; margin: 5px auto 5px 5px;"}
        %script{:language => "javascript", :src => "https://www.digicert.com/custsupport/sealtable.php?order_id=00254267&amp;seal_type=a&amp;seal_size=large&amp;seal_color=blue&amp;new=1", :type => "text/javascript"}
        %a{:href => "http://www.digicert.com/"} SSL
        Certificate
        %script{:language => "javascript", :type => "text/javascript"} coderz();
      / END DigiCert Site Seal Code
  %ul.footer_nav
    %li
      = link_to("About", about_us_path)
    %li
      = link_to "Blog", "http://blog.goodinkind.com", :target => "_blank"
    %li
      = link_to "FAQ", faq_path
    %li
      = link_to "Contact", contact_us_path
    %li
      = link_to "Terms", user_terms_of_use_path
    %li
      = link_to "Privacy Policy", "http://privacy-policy.truste.com/verified-policy/www.goodinkind.com", :target => "_blank"
    %li
      = link_to "Jobs", "#"
  .footer_divider
  %ul.footer_social_media
    %li
      = link_to "", "http://www.facebook.com/goodinkind", :target => "_blank", :title => "Facebook"
    %li
      = link_to "", "http://www.twitter.com/goodinkind", :target => "_blank", :title => "Twitter", :class => "fot_tw"
    %li
      = link_to "", "http://www.youtube.com/goodinkind", :target => "_blank", :title => "Youtube", :class => "fot_yt"
  %span.copyr &copy;2011, GoodInKind, All Rights Reserved
