
- if Rails.env == 'production'
  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-22973526-4']);
    _gaq.push(['_setDomainName', '.goodinkind.com']);
    _gaq.push(['_trackPageview']);

    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

- if Rails.env != 'development' 
  :javascript
    var uvOptions = {};
    (function() {
      var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
      uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/M3JcagkTBqfhI5DNewliWQ.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
    })();
  
.footer
  /.footer_video
  /= image_tag('video-pic.jpg', :alt => 'video')
  %ul.footer_nav
    %li
      = link_to("About", about_us_path)
    %li
      = link_to "Blog", "#"
    %li
      = link_to "FAQ", faq_path
    %li
      = link_to "Contact", contact_us_path
    %li
      = link_to "Terms", user_terms_of_use_path
    %li
      = link_to "Privacy Policy", privacy_policy_path
    %li
      = link_to "Jobs", "#"
  .footer_divider
  %ul.footer_social_media
    %li
      = link_to "", "http://www.facebook.com/goodinkind", :target => "_blank", :title => "Facebook"
    %li
      = link_to "", "http://www.twitter.com/goodinkind", :target => "_blank", :title => "Twitter", :class => "fot_tw"
    %li
      = link_to "", "http://www.youtube.com/goodinkind", :target => "_blank", :title => "Youtube", :class => "fot_yt"
  .footer_divider
  %span.copyr &copy;2011, GoodInKind, All Rights Reserved
