- if defined?(find) and find 
  - content_for :header_find do
    .header_services_find
      .head_serve_box{:onclick => "location.href = '#{services_path}' "}
        Find
        %span a service
    .header_services_offer
      .head_serve_box.serve_box_right{:onclick => "location.href = '#{new_service_path}' "}
        Offer
        %span a service

- unless content_for?(:header_links)
  - content_for :header_links do
    %ul.nav{:class => "#{'nav_inner' if root_path != request.fullpath}"}
      - unless user_signed_in?
        %li#sign_up= link_to "Sign Up", new_user_registration_path
        %li#login= link_to "Login", "#"
      %li= link_to "How it works", "#"
      %li.nav_non= link_to "Non-Profits", nonprofits_path
    .change_city{:class => "#{'inner_city' if root_path != request.fullpath}"}
      %span.city_name Ithaca, NY
      %br/
      %span.city_change_icon
        change
        = link_to image_tag('city_arrow.png'), "#"
