.header
  %h1.logo
    = link_to image_tag('goodinkind-logo.png', :alt => "Goodinkind - Get Together. Do Good."), root_path
  %ul.nav
    - if user_signed_in?
      %li= link_to "How it works", "#"
      %li.nav_non= link_to "Non-Profits", "#"
    - else
      %li= link_to "Sign Up", new_user_registration_path
      %li= link_to "Login","#", :onClick => 'showSlidingDiv2(); return false;'
      %li= link_to "How it works", "#"
      %li.nav_non= link_to "Non-Profits", "#"
  .change_city
    %span.city_name Ithaca, NY
    %br/
    %span.city_change_icon
      change
      = link_to image_tag('city_arrow.png'), "#", :onclick => "showSlidingDiv(); return false;"
#slidingDiv
= render :partial => 'layouts/top_login'
