.sidebar_search
  = form_tag search_nonprofits_path, :builder => JoshForm, :html => {:method => :post} do
    = text_field_tag :text, "", :class => "sidebar_sarch_input", :placeholder => 'Search Non-profits'
    = submit_tag "Go", :class => "button btn_sidebar"
.sidebar_left_find
  .sidebar_list
    %h3 Browse by Category
    %ul{:id => 'category_list'}
      %li
        %input{:type => "checkbox", :id => 'category_all'}/
        All (#{Nonprofit.verified.count})
      - Category.by_nonprofits.by_nonprofits_category_count.each do |category|
        %li
          = check_box_tag category.name, category.id
          ="#{truncate(category.name, :length => 22)} (#{category.nonprofit_count})"
         
