.sidebar_search
  = form_tag search_nonprofits_path, :builder => JoshForm, :html => {:method => :post} do
    = text_field_tag :text, "", :class => "sidebar_sarch_input", :placeholder => 'Search Non-profits'
    = submit_tag "Go", :class => "button btn_sidebar"
.sidebar_left_find
  .sidebar_list
    %h3 Browse by Category
    %ul{:id => 'category_list'}
      %li
        %input{:type => "checkbox", :id => 'category_all'}/
        &nbsp;&nbsp;All (#{Nonprofit.count})
      - Category.by_nonprofits.where("nonprofit_count > 0").order("name").each do |category|
        %li
          %input{:type => "checkbox"}/
          &nbsp;
          = "#{truncate(category.name, :length => 25)} (#{category.nonprofit_count})"
