.sidebar_search
  = form_tag search_nonprofits_path, :builder => JoshForm, :html => {:method => :post} do
    = text_field_tag :text, "", :class => "sidebar_sarch_input", :placeholder => 'Search Non-profits', :value => params[:text]
    = submit_tag "Go", :class => "button btn_sidebar"
.sidebar_left_find
  .sidebar_list
    %h3 Filter by Category (#{@nonprofits.length})
    %ul{:id => 'category_list'}
      %li.selector
        %a{:href => '#', :id => 'category_all'} Select All
        \/
        %a{:href => '#', :id => 'category_none'} Unselect All
      - Category.by_nonprofits.each do |category|
        %li
          = check_box_tag category.name, category.id, {}, :id => "category_#{category.id}"
          %span="#{truncate(category.name, :length => 22)}"
         
