- if is_owner(@user)
  #tabvanilla
    %ul.tabnav.ui-tabs-nav.np_tab_bg
      %li{:class => "#{'ui-tabs-selected' if ['show', 'edit', 'update'].include?(action_name)}"}
        = link_to content_tag(:span, "My Profile"), profile_path(@user)
      %li{:class => "#{'ui-tabs-selected' if action_name == 'services'}"}
        = link_to content_tag(:span, "My Services"), services_profile_path(@user) 
      %li{:class => "#{'ui-tabs-selected' if action_name == 'account'}"}
        = link_to content_tag(:span, "My Account"), account_profile_path(@user) 
      %li{:class => "#{'ui-tabs-selected' if action_name == 'index'}"}
        - message_count = get_unread_message_size
        - mailbox = "My Mailbox "
        - unless message_count==0 
          - mailbox += "(" +  message_count.to_s + ")"
        = link_to content_tag(:span, mailbox), messages_path(@user)
