- if is_owner(@user)
  #tabvanilla
    %ul.tabnav.ui-tabs-nav.np_tab_bg
      %li{:class => "#{'ui-tabs-selected' if ['show', 'edit', 'update'].include?(action_name)}"}
        = link_to content_tag(:span, "My Profile"), profile_path(@user)
      %li{:class => "#{'ui-tabs-selected' if action_name == 'services'}"}
        = link_to content_tag(:span, "My Services"), services_profile_path(@user) 
      %li{:class => "#{'ui-tabs-selected' if action_name == 'account'}"}
        = link_to content_tag(:span, "My Account"), account_profile_path(@user) 
      %li{:class => "#{'ui-tabs-selected' if action_name == nil}"}
        = link_to content_tag(:span, "My Mailbox"), "#" 
