/ Header
.header.header_inner
  %h1.logo_inner
    = link_to image_tag("goodinkind-logo-small.png", :alt => "Goodinkind - Get Together. Do Good."), root_path
  .header_services_find
    .head_serve_box.top_active
      Find
      %span a service
  .header_services_offer
    .head_serve_box.serve_box_right
      Offer
      %span a service
  %ul.nav.nav_inner
    - if user_signed_in?
      %li= link_to "How it works", "#"
      %li.nav_non= link_to "Non-Profits", "#"
    - else
      %li= link_to "Sign Up", new_user_registration_path
      %li= link_to "Login","#", :onClick => 'showSlidingDiv2(); return false;'
      %li= link_to "How it works", "#"
      %li.nav_non= link_to "Non-Profits", "#"
  .change_city.inner_city
    %span.city_name Ithaca, NY
    %br/
    %span.city_change_icon
      change
      = link_to image_tag('city_arrow.png'), "#", :onclick => "showSlidingDiv(); return false;"
/ End Header
