#slidingDiv2
  = link_to "", "#", :onclick => "showSlidingDiv(); return false;", :class => "login_close"
  .register_top
    %h4
      Are you new?
      %span
        Register
        = link_to "here" ,new_user_registration_path
  .login_divider
  .login
    = form_for "user", :url => user_session_path, :as => :post do
      %p
        = text_field "user", "email", :placeholder => "E-Mail", :class => "login_input"
      %p
        = password_field "user", "password", :placeholder => "Password", :class => "login_input"
      %p
        = submit_tag "Login", :class => "button bu_right btn_form"
    .forgot_pwd
      = link_to "Forgot your password?", new_user_password_path
  .login_divider
  .login_with
    = link_to image_tag('facebook_sign.png', :alt => "Facebook"), "/auth/facebook"
