:javascript
  var test;
  jQuery(document).ready(function(){
    $('#sign_in').bind('ajax:error', function() {
    $('#sign_in_errors').text("Invalid email / password");
  });
  });

#slidingDiv2
  = link_to "", "#", :class => "login_close"
  .register_top
    %h4
      Are you new?
      %span
        Register
        = link_to "here" ,new_user_registration_path
  .login_divider
  .login
    #sign_in_errors{:style => "color:red; font-weight:bold;"}
    = form_for "user", :url => user_session_path, :as => :post, :remote => true, :html => {:id => 'sign_in'} do
      %p
        = text_field "user", "email", :placeholder => "E-Mail", :class => "login_input"
      %p
        = password_field "user", "password", :placeholder => "Password", :class => "login_input"
      %p
        = submit_tag "Login", :class => "button bu_right btn_form"
    .forgot_pwd
      = link_to "Forgot your password?", new_user_password_path
  .login_divider
  .login_with
    = link_to image_tag('facebook_sign.png', :alt => "Facebook"), "/auth/facebook"
