!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:name => (@head.fetch(:keywords, '') if @head)}
    %meta{:description => (@head.fetch(:description, '') if @head)}

    %title GoodInKind :: #{@head.fetch(:title, '') if @head}

    - if Rails.env != 'development'
      %link{:href => "#{request.protocol}fonts.googleapis.com/css?family=Crimson+Text&v2", :rel => "stylesheet", :type => "text/css"}

    = stylesheet_link_tag "calendrical", "jquery-ui-1.8.14.custom", "thickbox", "style", "facebox"
    = javascript_include_tag "jquery.min", "jquery_ujs", "jquery-ui-1.8.14.custom.min", "tooltip", "thickbox", "autocomplete-rails", "jquery.calendrical", "application", "facebox"
    = csrf_meta_tag

    = yield :header

  %body
    - unless content_for?(:header_content)
      .header
        %h1.logo
          = link_to image_tag('goodinkind-logo.png', :alt => "Goodinkind - Get Together. Do Good."), root_path
        = yield(:header_find)
        = yield(:header_links)
    - else
      = yield(:header_content)
    = render 'layouts/change_city'
    = render 'layouts/top_login' unless user_signed_in?

    .container
      - if user_signed_in? and defined?(dashboard) and dashboard
        = render 'layouts/dashboard' 
      #dashboard
      = content_for?(:body_content) ? yield(:body_content) : yield
      .clear
    = render 'layouts/footer'
    = render 'layouts/shared/flash_messages'
