!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:name => (@head.fetch(:keywords, '') if @head)}
    %meta{:description => (@head.fetch(:description, '') if @head)}

    %title Good In Kind :: #{@head.fetch(:title, '') if @head}

    %link{:href => "http://fonts.googleapis.com/css?family=Crimson+Text&v2", :rel => "stylesheet", :type => "text/css"}/
    = stylesheet_link_tag "style"

    = javascript_include_tag "jquery.min", "jquery_ujs"
    = csrf_meta_tag

    = yield :header

  = yield(:layout_content) or yield

