- content_for :header do
  :javascript
    function showSlidingDiv2(){
      $("#slidingDiv2").animate({"height": "toggle"}, { duration: 200 });
    }
    function showSlidingDiv(){
      $("#slidingDiv").animate({"height": "toggle"}, { duration: 200 });
    }

- unless content_for?(:layout_content)
  - content_for :layout_content do
    %body
      = content_for?(:layout_header) ? yield(:layout_header) : render('layouts/header')
      .container
        - if user_signed_in?
          = render 'layouts/dashboard'
        - else
          .home_top
        = content_for?(:body_content) ? yield(:body_content) : yield
        .clear
      = render 'layouts/footer'

= render :file => 'layouts/base'
