- if nonprofit_logged_in?
  - content_for :header_links do
    %ul.nav.np_nav_top
      %li
        = link_to current_nonprofit.name, nonprofit_path(current_nonprofit), :class => 'np_nav_active'
      %li.nav_non
        = link_to "Logout", logout_nonprofits_path

- content_for :body_content do 
  - if nonprofit_logged_in?
    = render "layouts/nonprofit_tabs"
  #c1{:style => "float:left;"}
    .np_tab_logo
      = image_tag(@nonprofit.photo.url(:medium), :class => "np_logos") if @nonprofit
    - if defined?(search) and search
      .sidebar_bar
        = render 'layouts/nonprofit_search' 
    = content_for?(:tab_content) ? yield(:tab_content) : yield

= render :file => 'layouts/service', :locals => {:find => false}
