- content_for :header_content do
  .header.header_inner
    %h1.logo_inner
      - if user_signed_in?
        = link_to image_tag("goodinkind-logo-small.png", :alt => "Goodinkind - Get Together. Do Good."), services_path
      - elsif nonprofit_logged_in?
        = link_to image_tag("goodinkind-logo-small.png", :alt => "Goodinkind - Get Together. Do Good."), nonprofit_path(@nonprofit)
      - else
        = link_to image_tag("goodinkind-logo-small.png", :alt => "Goodinkind - Get Together. Do Good."), root_path
    = render 'layouts/header', :find => (defined?(find) ? find : true)
    = yield(:header_find)
    = yield(:header_links)

= render :file => 'layouts/base', :locals => {:dashboard => (defined?(dashboard) ? dashboard : true)}
