!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:name => (@head.fetch(:keywords, '') if @head)}
    %meta{:description => (@head.fetch(:description, '') if @head)}

    %title GoodInKind :: #{@head.fetch(:title, '') if @head}

    - if Rails.env != 'development'
      %link{:href => "http://fonts.googleapis.com/css?family=Crimson+Text&v2", :rel => "stylesheet", :type => "text/css"}

    = stylesheet_link_tag  "style","facebox"
    = javascript_include_tag "jquery.min", "facebox"
    = csrf_meta_tag


  %body
    %div{:class => @class_name}
      %h1
        = link_to image_tag('goodinkind-logo.png', :alt => "Goodinkind - Get Together. Do Good."), root_path

      %div{:class => "#{@class_name}_bg"}
        = content_for?(:body_content) ? yield(:body_content) : yield
      - if @class_name == 'sign_up'
        .sign_up_bg_gap
    = render "layouts/shared/flash_messages"

