!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:name => (@head.fetch(:keywords, '') if @head)}
    %meta{:description => (@head.fetch(:description, '') if @head)}

    %title GoodInKind :: #{@head.fetch(:title, '') if @head}

    - if Rails.env != 'development'
      %link{:href => "#{request.protocol}fonts.googleapis.com/css?family=Crimson+Text&v2", :rel => "stylesheet", :type => "text/css"}
    - if Rails.env == 'production'
      :javascript
          var _kmq = _kmq || [];
          function _kms(u){
              setTimeout(function(){
                      var s = document.createElement('script'); var f = document.getElementsByTagName('script')[0]; s.type = 'text/javascript'; s.async = true;
                      s.src = u; f.parentNode.insertBefore(s, f);
                      }, 1);
          }
          _kms('//i.kissmetrics.com/i.js');_kms('//doug1izaerwt3.cloudfront.net/0a379d0eefa0527ccfda794f8c3c374806b7d1da.1.js');

    = stylesheet_link_tag  "style","facebox"
    = javascript_include_tag "jquery.min", "facebox"
    = csrf_meta_tag


  %body
    %div{:class => @class_name}
      %h1
        = link_to image_tag('goodinkind-logo.png', :alt => "Goodinkind - Get Together. Do Good."), root_path

      %div{:class => "#{@class_name}_bg"}
        = content_for?(:body_content) ? yield(:body_content) : yield
      - if @class_name == 'sign_up'
        .sign_up_bg_gap
    = render 'layouts/shared/flash_messages'
    = render 'layouts/shared/alert_messages'

